{% extends"clientes/layout.html" %}

{% block title %} Lista de Cliente {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3> Dados do Cliente</h3>
    </div>
    <div class="body">
        <div class="container">
            <h5 class="card-title">Nome: {{ cliente.nome}}</h5>
            <h5>Email: {{cliente.email}}</h5>
            <h5>Data de Nascimento: {{cliente.data_nascimento.strftime("%d/%m/%Y")}}</h5>
            <h5>Profissão: {{cliente.profissao}}</h5>
            <h5>Sexo: {{cliente.sexo}}</h5>

        </div>


    </div>
</div>

{% endblock %}